{% load static %}
<!DOCTYPE html>
<html>
  <title>Sketch Gallery</title>
  <head></head>
  <body>
    <body style="background-color: thistle"></body>
    <h2 style="text-align: center">_Welcome to Sketch Gallery_</h2>
    <img style="width:19%" src="{% static "img/Febby.png" %}" alt=""> <img style="width:18%" src="{% static "img/Habib_Umar.png" %}" alt=""> <img style="width:20%" src="{% static "img/Cidepi.png" %}" alt=""> <img style="width:20%" src="{%
    static "img/Rakha.png" %}" alt=""> <img style="width:19%" src="{% static "img/mata.png" %}" alt=""> <img style="width:19%" src="{% static "img/Guru.png" %}" alt="">

    <h3 style="color: rosybrown">Dibuka pesanan Sketsa Wajah</h3>
    <p>Caranya gampang banget, jika kalian minat bisa DM Instagram saya di bawah ini, kalian bisa request foto siapa aja, dan dijamin kalian puas sama hasilnya, Terimakasih.</p>
    <ul>
      <li>
        <a href="https://l.instagram.com/?u=https%3A%2F%2Finstagram.com%2Fnurulizzah_real%3Figshid%3DNzZlODBkYWE4Ng%253D%253D&e=AT1LlYypG_1MXNdFybHZEeqR8EZk23t5iU3sZsuRaJLX03gUffGfLSCVULP7g1BjIBkRXSicP7X6HO2mlU1zNO2WJEHi_SbleaUZXQ0"
          >~Instagram~</a
        >
      </li>
    </ul>

    <ul>
      <li><a href="http://127.0.0.1:8000/admin/auth/user/">Django Administration</a></li>
    </ul>
  </body>
</html>
